.containerSearchResult {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    svg {
        height: var(--icon-cs);
    }

    & > :first-child {
        order: 1;
    }
}

.containerArticle {
    display: flex;
    align-items: center;
    gap: 0.125rem; // 2px

    p {
        color: var(--text-color);
    }
}