.container {
    display: flex;
    max-width: calc(100vw - 6.75rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.logo {
    display: flex;
    width: 11.25rem;
    height: 2.75rem;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
    color: var(--fill-color-dark);

    @media (prefers-color-scheme: dark) {
        color: var(--fill-color-light);
    }
}

.containerLarge {
    display: flex;
    max-width: calc(100vw - 6.75rem);
    padding-top: 2.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.logoLarge {
    width: 22.5rem;
    height: 5.5rem;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
    color: var(--fill-color-dark);

    @media (prefers-color-scheme: dark) {
        color: var(--fill-color-light);
    }
}