.line {
    width: calc(100% - (var(--default-padding) * 2));
    height: 0.03125rem;
}

.default {
    background-color: var(--text-color-20);
}

.colored {
        background-color: var(--highlight-color);
}