.item {
    display: flex;
    height: 3.75rem;
    padding: 0rem 1.25rem;
    align-items: center;
    align-self: stretch;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--text-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    

    &.centered {
        justify-content: center;
    }
}