.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-overlay-color);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    &.centered {
        justify-content: center;
        align-items: center;
    }
}