.sendEmailButton {
    display: flex;
    height: 3.75rem; // 60px
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-sm);

    &.disabled {
        background-color: var(--disabled-btn-color);
        cursor: not-allowed;
    }
}