:root {
    
    // Border Variables

    --border-bottom-rg: 0.1125rem; // 1.8px
    --border-radius-lg: 0.25rem; // 4px
    --border-radius-rg: 0.125rem; // 2px
    --border-radius-sm: 0.0625rem; // 1px

}