:root {

    // Padding Variables

    --padding-xl: 2rem; // 32px
    --padding-lg: 1.25rem; // 20px
    --padding-md: 1rem; // 16px
    --padding-rg: 0.75rem; // 12px
    --padding-sm: 0.5rem; // 8px
    --padding-xs: 0.25rem; // 4px
    --padding-mn: 0.125rem; // 2px

    // Gap Variables

    --gap-lg: 2rem; // 32px
    --gap-md: 1.25rem; // 20px
    --gap-rg: 1rem; // 16px
    --gap-sm: 0.75rem; // 12px
    --gap-xs: 0.5rem; // 8px

    // Default Click Height
    --default-click-dimension: 2.75rem; // 44px
}