:root {

    // colors - default light mode
    --text-color: #060400;
    --text-color-20: #06040033;
    --text-color-50: #06040080;
    --background-color: #FFFEF3;
    --background-color-20: #FFFEF333;
    --background-color-50: #FFFEF380;
    --highlight-color: #635E83;
    --highlight-color-20: #635E8333;
    --secondary-color-salmon: #FFCDBC;
    --indicator-color-negative: #E32E2E;
    --indicator-color-positive: #0C8F00;
    --bias-color-liberal: #166DFC;
    --bias-color-conservative: #FA2F3D;
    --bias-color-center: #FFFEF3;
    --compass-color-top-left: #FA6661;
    --compass-color-top-right: #8DBEFF;
    --compass-color-bottom-left: #A5D38C;
    --compass-color-bottom-right: #BE8EC8;

    @media (prefers-color-scheme: dark) {
        --text-color: #FFFEF3;
        --text-color-20: #FFFEF333;
        --text-color-50: #FFFEF380;
        --background-color: #060400;
        --background-color-20: #06040033;
        --background-color-50: #06040080;
        --highlight-color: #FFC485;
        --highlight-color-20: #FFC48533;
        --secondary-color-salmon: #FFCDBC;
        --indicator-color-negative: #E32E2E;
        --indicator-color-positive: #0C8F00;
        --bias-color-liberal: #166DFC;
        --bias-color-conservative: #FA2F3D;
        --bias-color-center: #FFFEF3;
        --compass-color-top-left: #FA6661;
        --compass-color-top-right: #8DBEFF;
        --compass-color-bottom-left: #A5D38C;
        --compass-color-bottom-right: #BE8EC8;
    }

    // fonts
    --text-font: var(--font-inter), sans-serif;
    --title-font: var(--font-ebgaramond), serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // default padding
    --default-padding: 1.25rem; // 20px

}

// mobile style
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100svh;
    width: 100vw; 
    box-sizing: border-box;
    position: relative;
    
    // light mode
    background-color: var(--background-color);
}
