.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xs);
    color: var(--text-color);
    text-decoration: none;

    .subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        svg {
            color: var(--text-color);
        }
    }
}



/* Large devices (laptops, desktops) */
@media screen and (min-width: 1079.99px) {

}