.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
    padding: var(--padding-lg);
    gap: var(--gap-lg);
    position: relative;

    h1 {
        color: var(--text-color);
        padding-bottom: var(--padding-lg);
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
        padding: var(--padding-xl) 0 var(--padding-lg) 0;

        li {
            color: var(--text-color);

            a {
                color: var(--text-color);
                text-decoration: none;
            }
        }
    }

    p {
        color: var(--text-color-50);
    }

    & > p {
        align-self: flex-end;
    }

    ol {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-lg);
        list-style-type: decimal;
        box-sizing: border-box;

        li {
            margin-left: var(--padding-lg);
            list-style-type: decimal;
            color: var(--text-color);
            
            h2 {
                margin-bottom: var(--padding-sm);
            }

            p {
                color: var(--text-color);
            }
        }
    }
}


/* Large devices (laptops, desktops) */
@media screen and (min-width: 1079.99px) {
    .container {
        width: 1080px;
		height: auto;
		padding: var(--padding-xl) 0 var(--padding-lg) 0;
    }
}