.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-sm);
    color: var(--text-color);
    cursor: pointer;
}


/* Large devices (laptops, desktops) */
@media screen and (min-width: 1079.99px) {
    .container{
        display: grid;
        gap: var(--gap-lg) var(--gap-rg);
        grid-template-columns: 1fr 600px;
        grid-template-rows: 200px 200px;
    }
}