.navButton {
    display: flex;
    height: var(--default-click-dimension);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    color: var(--text-color);
    border-top: var(--border-bottom-rg) solid transparent;
    border-bottom: var(--border-bottom-rg) solid transparent;

    &.active {
        border-bottom: var(--border-bottom-rg) solid var(--highlight-color);
    }

}