.container {
    display: flex;
    width: 100%;
    padding: var(--padding-sm) var(--padding-rg);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-rg);
    border: 1px solid var(--text-color-50);
    transition: all 1s ease-in-out;

    .content {
        display: flex;
        width: 100%;
        padding: var(--padding-xs) 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.125rem; // 2px
        min-height: var(--default-click-dimension);

        label {
            color: var(--text-color-50);
            pointer-events: none;
        }

        input {
            color: var(--text-color);
            height: 100%;
            width: 100%;
        }
    }

    .icons {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: calc(var(--padding-rg) * -1);
        
        div {
            display: flex;
            width: 0.0625rem; // 1px
            height: 100%;
            padding: 0.75rem 0;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            background-color: var(--text-color-50);
            
        }

        svg {
            color: var(--text-color-50);
        }
    }
}


